.wrapper {
  height: 500px;
  width: 500px;
  margin: 0 auto;
}

#board {
  height: 450px;
  width: 450px;
  margin: 0 auto;
}

.square {
  height: 15px;
  width: 15px;
  float: left;
  box-sizing: border-box;
  border: 1px solid black;
}

.snake {
  background-color: black;
}

#board:after {
  content: "";
  display: block;
  clear: both;
}

.apple {
  background-color: red;
}
